@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navigation{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 80px;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.navigation ul{
  display: flex;
  list-style: none;
}

.navigation ul li{
margin: 0 5px;
}

.navigation ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2.2px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navigation ul li a:hover, 
.navigation ul li a.active{
  color: #1b1b1b;
  background: #fff;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1,89em;
    color: rgb(0, 0, 0);
}

.parallax_wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 200px;
}

.intro_screen{
    height: 300vh;
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax_group{
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax_layer{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base_layer{
    transform: translateZ(-300px) scale(3);
}

#group-1{
    z-index: -1;
}

.main_page{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
}

.about{
    padding: 5% 0;
    width: 100%;
    height: auto;
    background-color: rgb(216, 216, 216);
}

.about h1{
  font-size: 59px;
}

.about .left{
    padding: 1% 0;
    float: left;
    width: 50%;
    display: inline-block;
}

p{
  font-size: 29px;
}

.about .left h1 button{
    margin: 0 0 10px 0;
}

.about .left hr {
    width: 20%;
    border-top: 2px solid black;
    border-bottom: none;
    margin-bottom: 19px;
}

button {
  background-color: rgb(216, 216, 216);
  border: 2px solid black;
  color: none;
  padding: 19px 29px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(172, 172, 172);
  color: black;
}

.about .right{
    width: 50%;
    display: inline-block;
}

.about .right img{
    width: 94%;
    box-shadow: 6px 6px 12px rgb(110, 110, 110);
}