@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

.navigation{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 80px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
}

.navigation .logo{
  font-size: 33px;
  color: #fff;
  font-weight: 600;
}

.navigation ul{
  display: flex;
  list-style: none;
}

.navigation ul li{
margin: 0 5px;
}

.navigation ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navigation ul li a:hover{
  color: #1b1b1b;
  background: #fff;
}

.bg-image {
  background-image: url("background.jpg");
  
  /* the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(3.9px);
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 1.5px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 59%;
  padding: 100px;
  text-align: center;
}
.button {
  background-color: transparent;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 2px;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
    background-color: rgba(110, 110, 110, 0.671);
    color: white;
}